body{
   margin: 0px;
   padding: 0px;
   font-family: "Raleway", sans-serif;
   height: 100vh;
   overflow-x: hidden;
   color: purple;
}
.wrapper {
    padding: 0 !important;
    

}
.nav-bar{
    font-size: 21px;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    height: 45px;
    padding-top: 15px;
}

a{
    text-decoration: none;
    font-weight: bolder;
    color: purple;
    text-transform:capitalize !important;
}

a:hover{
    color: plum;
}

.link1{
    padding-left: 15px;
    padding-top: 20px;
}

.link2{
    float: right;
    padding-right: 2%;
}

.link3{
    float: right;
    padding-right: 2%;
}
.content-is-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
}
.about{
    text-align: justify;
    height: 100%;
    text-align: center;
    padding: 1em;
   
}

.about .about-content {
    text-align: justify;
    margin-left: -2px;
}


footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 22px;
    padding: 14px 16px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.forms.row{
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
}

form{
    margin-top: 2.2%;
}

input{
    width: 100%;
    font-size: 17px;
    padding: 2%;
    border: solid;
    border-width: 2px;
    border-color: purple;
    font-family: "Raleway", sans-serif;
}

  
textarea{
    width: 100%;
    height: 175px;
    font-size: 17px;
    padding: 2%;
    margin: 10px auto;
    border: solid;
    border-width: 2px;
    border-color: purple;
    font-family: "Raleway", sans-serif;
}

.contact{
    width: 100%;
}
.contact h1 {
    text-align: center;
}
input{
    margin: 5px auto;
}

.Send{
    background: transparent;
    font-size: 17px;
    font-weight: bolder;
    color: purple;
    font-family: "Raleway", sans-serif;
    border-radius: 19px;
    width: 23%;
    padding: 6px;
    margin-top: 6%;
    border: solid;
    border-width: 2px;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.Send:hover{
    background-color: purple;
    color: whitesmoke;
}

.colunms.row{
    display: flex;
}

.c1{
    text-align: center;
    height: 100vh;
    color: #7441b7;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
}

.avatar{
    width: 50%;    
}

.Name{
    font-size: 40px;
    line-height: 1px;
}

.Job{
    font-size: 20px;
    line-height: 1px;
   
}

.c2{
    background-color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.c2 > .link {
    color: antiquewhite;
    padding: 16px 14px;
    font-size: 18px;
}

/*Media Queries*/

@media screen and (max-width: 600px) {
    .c1{
        height: 50vh;
    }

    .c2{
        height: 50vh;
    }

    .avatar{
        width: 50%;
    }

    .row{
        width: 100%;
        margin:0 !important;
        overflow: hidden;
    }

    .about .about-content {
    text-align: center;
}
}