html {
    scroll-behavior: smooth;
}

.btn {
    border: 0;
    background-color: #25557c;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}


.btn:hover {
    background-color: orange;
    color: #ffff;
}

.orange {
    color: orange !important;
}

@media screen and (max-width: 767px) {
    aside {
        display: none;
    }

    .hero {
        padding-left: 0 !important;
    }

    .wrapper{
        padding-left: 0 !important;
    }

    .ml-5{
        margin-left: 1em !important;
    }
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

.wrapper {
    padding-left: 300px;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.hero_img_holder {
    max-width: 350px;
    margin: 0 auto;
}

.hero_text_holder {
    font-family: "Raleway", sans-serif !important;
    color: #25557c;
    text-align: center;
}

.hero_text_holder span {
    cursor: auto !important;
}

.angle_down {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 40px;
    margin-top: 2em;
    animation-iteration-count: infinite;
}




/*side navigation*/
aside {
    position: fixed;
}

.side_nav {
    height: 100vh;
    width: 0;
    background-color: #25557c;
}

.active {
    width: 300px;
}

.side_nav_content {
    padding: 35px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    height: 85vh;
    justify-content: center;
}

.side_nav_content ul {
    list-style: none;
    padding-left: 0;
}

.side_nav_content ul li {
    padding: 15px 0;
    text-align: center;
}

.side_nav_content ul li a {
    color: #fff;
    font-size: 30px;
    transition: all 0.3s ease-in;
}

.side_nav_content ul li a:hover,
.side_nav_content ul li a:focus {
    color: orange;
}

.socials_holder {
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
}

.socials_holder a {
    color: orange;
}

#about,
#skills,
#projects,
#contact{
    margin-top: 5em;
}

.progress_bar{
    height: 10px;
    background: #25557c;
    width: 0%;
    transition: all 4s ease;
    transition-delay: 1s;
    border-radius: 15px;
}  

.project_card{
    height: 250px;
}


.contact_content{
    padding: 0 20px;
}

input,
textarea {
    width: 100%;
    font-size: 17px;
    padding: 2%;
    border: 2px solid #25557c;
    border-radius: 15px;
    margin-top: 15px;
}

textarea{
    min-height: 10em;
}

.testimonial{
    background: url("/assets/img/image.png");
    height: 70vh;
    background-attachment: fixed;
    color: #fff;
}

.testimonial h2{
    padding: 0 35px;
}


.c2 {
    background-color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.c2>.link {
    color: antiquewhite;
    padding: 16px 14px;
    font-size: 18px;
}

.menu {
    height: 100vh;
    background: mediumpurple;
    width: 0;
    text-align: center;
    position: fixed;
    right: -20%;
    z-index: 999999999999;
    -webkit-transition: .6s linear;
    transition: .6s linear;
}

.menu a {
    color: #FFFFFF;
    display: block;
    line-height: 50px;
}


span {
    cursor: pointer;
}

#close {
    position: absolute;
    top: 1em;
    right: 1em;
}

#toggle {
    cursor: pointer;
    float: right;
    padding-right: 4%;
    display: none;
}

/*Media Queries*/

@media screen and (max-width: 600px) {
    .c1 {
        height: 50vh;
    }

    .c2 {
        height: 50vh;
    }

    .avatar {
        width: 50%;
    }

    .row {
        width: 100%;
        margin: 0 !important;
        overflow: hidden;
    }

    .about .about-content {
        text-align: center;
    }

    #toggle {
        display: block;
    }

    .link2 {
        display: none;
    }

    .link3 {
        display: none;
    }

    .menu {
        height: 100vh;
        background: mediumpurple;
        width: 0;
        text-align: center;
        position: fixed;
        right: -20%;
        z-index: 999999999999;
        -webkit-transition: .6s linear;
        transition: .6s linear;
        top: 0;
        overflow: auto;

    }

    .menu a {
        color: #FFFFFF;
        display: block;
        line-height: 5em;

    }

    .active {
        width: 50%;
        right: 0;
    }

    span {
        cursor: pointer;
    }

    #close {
        position: absolute;
        top: 1em;
        right: 1em;
        color: white;
    }

    .foot {
        top: auto;
    }

}