body{
   margin: 0px;
   padding: 0px;
   font-family: "Raleway", sans-serif;
}

.nav-bar{
    width: 100%;
    font-size: 21px;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    height: 45px;
    padding-top: 15px;
}

a{
    text-decoration: none;
    font-weight: bolder;
    color: purple;
}

a:hover{
    color: plum;
}

.link1{
    padding-left: 15px;
    padding-top: 20px;
}

.link2{
    float: right;
    padding-right: 2%;
}

.link3{
    float: right;
    padding-right: 2%;
}

.about{
    text-align: justify;
    height: 510px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 35vh;
}

.t1{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    margin-top: 35px; 
}

footer{
    border-top: solid;
    border-top-width: 2px;
    font-size: 22px;
    padding-top: 1.5%;
    display: flex;
    justify-content: center;
    border-top-color: lightgray;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 12vh;
}

.forms{
    text-align: center;
}

form{
    margin-top: 1.5%;
}
  